body {
 background-image: url("../gifs/snow2.gif");
 background-color: #c1f0ff;
 background-size: cover;
}

/* #guessed-letters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
} */
