* {
    text-align: center;
    font-family: futura;
}
body {
 /* background-image: url("../gifs/snow2.gif"); */
 background-color: #c1f0ff;
 background-size: cover;
}

h1 {
    font-size: 50px;
    border: solid 1px grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    background-color: white;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
  max-height: 400px;
  max-width: 300px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

#snowman{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

h2 {
    font-size: 75px;
    margin-top: 30px;
    font-family: CF Snowball;
}

label {
    font-size: 25px;
}

#difficulty {
    margin-bottom: 25px;
}

#word, #enteredLetter {
    text-align: left;
    font-size: 20px;
    margin-left: 5px;
}


#word_submit, #letterSubmit, button {
    font-size: 40px;
    border-radius: 7px;
    font-family: CF Snowball;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

#guessed_letters {
    flex: auto;
    justify-content: center;
    flex-direction: column;
}

#letterBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#letterBox p {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 25px;
    box-shadow: 4px 4px lightslategrey;
}
