body {
 background-image: url("../gifs/snow2.gif");
 background-color: #c1f0ff;
 background-size: cover;
}

h1 {
    font-size: 50px;
    border: solid 1px grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    background-color: white;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: futura;
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
  max-height: 400px;
  max-width: 300px;
}

/* #snowman{
  height: 400px;
  width: 300px;
} */

/* #guessed_letters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
}

#guessed_letters p {
    margin-right: 5px;
} */
